name: "Release Build"

on:
  workflow_dispatch:
    inputs:
      version:
        description: The version to tag the release with, e.g., 1.2.0, 1.2.1-alpha.1
        required: true

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: write # for creating the release
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # the nebula plugin used in this repo needs the tags
          fetch-depth: 0

      - id: setup-java-17
        name: Setup Java 17
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: temurin
          java-version: 17

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@8379f6a1328ee0e06e2bb424dadb7b159856a326 # v4.4.0

      - name: Build
        run: >
          ./gradlew build --stacktrace
          -Prelease.version=${{ github.event.inputs.version }}
          "-Porg.gradle.java.installations.paths=${{ steps.setup-java-17.outputs.path }}"

      - name: Publish release
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
        run: >
          ./gradlew final closeAndReleaseSonatypeStagingRepository --stacktrace
          -Prelease.version=${{ github.event.inputs.version }}
          "-Porg.gradle.java.installations.paths=${{ steps.setup-java-17.outputs.path }}"

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create v${{ github.event.inputs.version }} --title "Release v${{ github.event.inputs.version }}-alpha" --notes "Java Bindings for [OTLP v${{ github.event.inputs.version }}](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v${{ github.event.inputs.version }})"
