name: "Release Build"

on:
  workflow_dispatch:
    inputs:
      version:
        description: The version to tag the release with, e.g., 1.2.0, 1.2.1-alpha.1
        required: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - id: setup-java-17
        name: Setup Java 17
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.7.0
        with:
          distribution: temurin
          java-version: 17

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b # v4.3.0

      - name: Use CLA approved github bot
        run: .github/scripts/use-cla-approved-github-bot.sh

      - name: Build
        run: >
          ./gradlew build --stacktrace
          -Prelease.version=${{ github.event.inputs.version }}
          "-Porg.gradle.java.installations.paths=${{ steps.setup-java-17.outputs.path }}"

      - name: Publish release
        env:
          SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
          SONATYPE_KEY: ${{ secrets.SONATYPE_KEY }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}
        run: >
          ./gradlew final closeAndReleaseSonatypeStagingRepository --stacktrace
          -Prelease.version=${{ github.event.inputs.version }}
          "-Porg.gradle.java.installations.paths=${{ steps.setup-java-17.outputs.path }}"

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          gh release create v${{ github.event.inputs.version }} --title "Release v${{ github.event.inputs.version }}-alpha" --notes "Java Bindings for [OTLP v${{ github.event.inputs.version }}](https://github.com/open-telemetry/opentelemetry-proto/releases/tag/v${{ github.event.inputs.version }})"
